@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*, *::before, *::after{
    padding:0; margin:0;
    top:0; left:0; right:0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

:root{
    --grey-background-color: #f7f7f7;
    --white-color: #fff;
    --error-color: #721c24;
    --background-error-color: #f8d7da;
    --grey-button-background-color: #333;
    --text-grey-color: #67676a;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--grey-background-color);
}

.wrapper{
    background-color: var(--white-color);
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.signup__signupForm{
    padding: 25px 30px;
}

.signup__signupForm header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.signup__signupForm form{
    margin: 10px 0px;
}

.signup__signupForm form .signup__errorText{
    color: var(--error-color);
    background-color: var(--background-error-color);
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}

.signup__signupForm form .signup__field{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.signup__signupForm form .signup__field label{
    margin-bottom: 2px;
}

.signup__signupForm form .signup__field input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;     
}

.signup__signupForm form .signup__name-details{
    display: flex;
}

.signup__signupForm form .signup__name-details #first-name{
    margin-right: 10px;
}

.signup__signupForm form .signup__name-details #second-name{
    margin-left: 10px;
}

.signup__signupForm form .photo{
    font-size: 17px;
    margin-bottom: 15px;
}

.signup__signupForm form .signup__button{
    margin-bottom: 5px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 500;        
}

.signup__signupForm form .signup__button input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; 
    background-color: var(--grey-button-background-color);
    color: var(--white-color);
    border-radius: 10px;
    cursor: pointer;    
}

.signup__signupForm form .signup__button input:hover,
.users__users header .users__logout:hover,
.users__users .users__search button:hover{
    background-color: #191919; 
    transition: .2s linear;   
}

.signup__alreadySignUpContainer{
    text-align: center;
    margin: 0px 10px;
    font-size: 17px;
}

.signup__alreadySignUpContainer a{
    cursor: pointer;
}

.signup__alreadySignUpContainer a:hover {
    text-decoration: underline;
}

.users__users{
    padding: 25px 30px;
}

.users__users header,
.users__userList a{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 28px; 
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

.users__users header .users__content,
.users__userList a .users__content{
    display: flex;    
}

.users__users header .users__content img{
    width: 50px;
    height: 50px;
}

.users__users header .users__details,
.users__userList a .users__details{
    margin-left: 15px;
    color: #000;
}

.users__users header .users__details span,
.users__userList a .users__content span{
    font-size: 18px;
    font-weight: 500;
}

.users__users header .users__logout{
    background-color: var(--grey-button-background-color); 
    color: var(--white-color); 
    padding: 7px 15px;
    font-size: 17px;
    border-radius: 5px; 
}

.users__users .users__search{
    margin: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.users__users .users__search .users__searchText{
    font-size: 18px;
}

.users__users .users__search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #333;
    border-radius: 5px 0 0 5px; 
    padding: 0 13px;
    font-size: 16px;
    outline: none;    
}

.users__users .users__search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: var(--white-color);
    background-color: var(--grey-button-background-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 17px;
}

.users__userList{
    max-height: 350px;
    overflow-y: auto;
}

.users__userList::-webkit-scrollbar{
    display: none;
}

.users__userList p{
    color: var(--text-grey-color);
}

.users__userList a{
    margin-bottom: 15px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}

.users__userList a:last-child{
    border: none;
    margin-bottom: 0px;
}

.users__userList a .users__content img{
    width: 40px;
    height: 40px;
    margin-top: 5px;    
}

.users-statusDot{
    font-size: 12px;
    color: #468669;    
}

.users-statusDot.offline{
    color: var(--text-grey-color);
}



